name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run Smoke Tests
      run: pytest tests/smoke_test.py
    - name: Run Unit Tests
      run: pytest tests/unit_test.py
    - name: Run Integration Tests
      run: pytest tests/integration_test.py
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag weather-ml-app:latest
    - name: Run the docker container
      run: docker run -d -p 5000:5000 weather-ml-app:latest
    - name: Test the docker container
      run: |
        sleep 10
        curl http://localhost:5000/
    - name: Log into dockerhub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: olmue1967/weather-ml-app:latest
